h1{
    color: rgb(94, 51, 51);
    text-align: left;
    font-family: sans-serif;
}

p{
    color:rgb(13, 13, 65);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
